<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078490247313-ujdl7ojk6blpdmculn4h2f9f83o961q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078490247313-ujdl7ojk6blpdmculn4h2f9f83o961q7</string>
	<key>API_KEY</key>
	<string>AIzaSyBKBpqOi86QJwnbcmIIWqSIUfwhsZXgYL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1078490247313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phithai</string>
	<key>PROJECT_ID</key>
	<string>kitty-9156c</string>
	<key>STORAGE_BUCKET</key>
	<string>kitty-9156c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078490247313:ios:6c25ab83f24b2758300f30</string>
	<key>DATABASE_URL</key>
	<string>https://kitty-9156c-default-rtdb.firebaseio.com</string>
</dict>
</plist>